<h1>Example App: Hey Doug! Templating is for the Birds, Yeah.</h1>
<!-- Uses built-in `if` helper. -->
{{#if showTitle}}
	<h1>Hey, Show Title Lubba Dub Dub</h1>
{{else}}
	<h1>No Lovie Long Time</h1>
{{/if}}